NUXT_PUBLIC_API_BASE=http://109.172.31.240/api
NUXT_PUBLIC_API_VERSION=v1

NUXT_PUBLIC_REVERB_KEY=key
NUXT_PUBLIC_REVERB_HOST=
NUXT_PUBLIC_REVERB_PORT=8080
NUXT_PUBLIC_REVERB_SCHEME=http
NUXT_PUBLIC_BROADCAST_AUTH_URL=http://

# leaflet | yandex (yandex uses JS API 2.1, same as bc-cms / wildhunter)
NUXT_PUBLIC_MAP_PROVIDER=leaflet
NUXT_PUBLIC_YANDEX_MAPS_API_KEY=
